{# templates/article/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajouter un Article{% endblock %}

{% block body %}
    <h1 class="mb-4">Ajouter un Article</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
